<mat-card class="m-5">
  <mat-card-header class="mb-5">
    <mat-card-title>Jelszó megváltoztatása</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" class="flex flex-col items-center">
      <mat-form-field class="w-1/2">
        <mat-label>Új jelszó</mat-label>
        <input matInput type="password" formControlName="newPassword" />
        <mat-error *ngIf="changePasswordForm.controls.newPassword.errors?.['required']"
          >Jelszó megadása kötelező!</mat-error
        >
        <mat-error *ngIf="changePasswordForm.controls.newPassword.errors?.['minlength']"
          >Minimum {{ VALIDATION_VALUES.password.MIN_LENGTH }} karakter!</mat-error
        >
        <mat-error *ngIf="changePasswordForm.controls.newPassword.errors?.['maxlength']"
          >Maximum {{ VALIDATION_VALUES.password.MAX_LENGTH }} karakter!</mat-error
        >
      </mat-form-field>
      <mat-form-field class="w-1/2">
        <mat-label>Új jelszó megismételve</mat-label>
        <input matInput type="password" formControlName="confirmPassword" />
        <mat-error *ngIf="changePasswordForm.controls.confirmPassword.errors?.['passwordMismatch']">
          Nem egyező jelszavak!
        </mat-error>
      </mat-form-field>
      <button mat-raised-button type="submit" color="primary" class="mx-auto">Jelszó megváltoztatása</button>
    </form>
  </mat-card-content>
</mat-card>
