<mat-card class="m-5">
  <mat-card-header>
    <h1>Befektetések</h1>
  </mat-card-header>
  <mat-card-content>
    <div
      *ngIf="(balanceService.balance$ | async)?.investmentBalance as investmentBalance"
      class="flex justify-center m-5"
    >
      <div>
        <div class="text-lg font-medium">
          {{ 'Aktuális befektetési egyenleg: ' + (investmentBalance ?? 0 | currency : 'HUF') }}
        </div>
        <div class="text-center">
          <button
            mat-raised-button
            color="primary"
            [disabled]="underEdit$ | async"
            (click)="investmentBalancetoIncome(investmentBalance)"
          >
            Könyvelés bevételként
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="assetToSell$ | async as assetToSell" class="flex justify-center">
      <form
        [formGroup]="sellForm"
        (ngSubmit)="sellAsset(assetToSell)"
        class="flex justify-center items-center gap-2 w-full"
      >
        <mat-form-field>
          <mat-label>{{
            assetToSell.assetType.type === 'INVESTMENT_BALANCE' ? 'Könyvelés összege' : 'Eladás összege'
          }}</mat-label>
          <input type="number" matInput formControlName="amount" />
          <mat-error *ngIf="sellForm.controls.amount.errors?.['required']">Összeg megadása kötelező!</mat-error>
          <mat-error *ngIf="sellForm.controls.amount.errors?.['min']"
            >Minimum {{ VALIDATION_VALUES.amount.MIN | number : '1.0-2' }}!</mat-error
          >
          <mat-error *ngIf="sellForm.controls.amount.errors?.['max']"
            >Maximum {{ assetToSell.amount | number : '1.0-2' }}!</mat-error
          >
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">OK</button>
        <button mat-raised-button (click)="resetSell()" type="button">Mégsem</button>
      </form>
    </div>
    <div class="flex items-center gap-2">
      <div *ngIf="!(addAssetFormVisible$ | async)" class="ms-auto">
        <button mat-raised-button color="primary" [disabled]="underEdit$ | async" (click)="addNew()">
          Eszköz hozzáadása
        </button>
      </div>
      <form
        *ngIf="addAssetFormVisible$ | async"
        [formGroup]="addAssetForm"
        (ngSubmit)="createAsset()"
        class="flex items-center gap-2 w-full"
      >
        <mat-form-field>
          <mat-label>Összeg</mat-label>
          <input type="number" matInput formControlName="amount" />
          <mat-error *ngIf="addAssetForm.controls.amount.errors?.['required']">Összeg megadása kötelező!</mat-error>
          <mat-error *ngIf="addAssetForm.controls.amount.errors?.['min']"
            >Minimum {{ VALIDATION_VALUES.amount.MIN | number : '1.0-2' }}!</mat-error
          >
          <mat-error *ngIf="addAssetForm.controls.amount.errors?.['max']"
            >Maximum {{ VALIDATION_VALUES.amount.MAX | number : '1.0-2' }}!</mat-error
          >
          <mat-error *ngIf="addAssetForm.controls.amount.errors?.['amountExceedsInvestmentBalance']"
            >Befektetési egyenleg nem elég!</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Megnevezés</mat-label>
          <input matInput formControlName="name" />
          <mat-error *ngIf="addAssetForm.controls.name.errors?.['required']">Megnevezés megadása kötelező!</mat-error>
          <mat-error *ngIf="addAssetForm.controls.name.errors?.['minlength']"
            >Minimum {{ VALIDATION_VALUES.name.MIN_LENGTH }} karakter!</mat-error
          >
          <mat-error *ngIf="addAssetForm.controls.name.errors?.['maxlength']"
            >Maximum {{ VALIDATION_VALUES.name.MAX_LENGTH }} karakter!</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Forrás</mat-label>
          <mat-select formControlName="source">
            <mat-option *ngFor="let assetSource of assetSources" [value]="assetSource">{{
              assetSource.label
            }}</mat-option>
          </mat-select>
          <mat-error *ngIf="addAssetForm.controls.source.errors?.['required']">Forrás megadása kötelező!</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Típus</mat-label>
          <mat-select formControlName="assetType" (selectionChange)="assetTypeChanged($event.value)">
            <mat-option *ngFor="let assetType of assetTypes" [value]="assetType">{{ assetType.type }}</mat-option>
          </mat-select>
          <mat-error *ngIf="addAssetForm.controls.assetType.errors?.['required']">Típus megadása kötelező!</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Lejárat</mat-label>
          <input
            matInput
            formControlName="maturityDate"
            [matDatepicker]="maturityDatePicker"
            [min]="(periodService.activePeriod$ | async)?.startDate"
            placeholder="ÉÉÉÉ. HH. NN."
          />
          <mat-datepicker-toggle matIconSuffix [for]="maturityDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #maturityDatePicker></mat-datepicker>
          <mat-error *ngIf="addAssetForm.controls.maturityDate.errors?.['required']"
            >Lejárat megadása kötelező!</mat-error
          >
          <mat-error *ngIf="addAssetForm.controls.maturityDate.errors?.['matDatepickerMin']"
            >Csak jövőbeli dátum lehet!</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Kamat</mat-label>
          <input type="number" matInput formControlName="interestRate" />
          <mat-error *ngIf="addAssetForm.controls.interestRate.errors?.['required']"
            >Kamat megadása kötelező!</mat-error
          >
          <mat-error *ngIf="addAssetForm.controls.interestRate.errors?.['min']"
            >Minimum {{ VALIDATION_VALUES.interestRate.MIN | number : '1.0-2' }}!</mat-error
          >
          <mat-error *ngIf="addAssetForm.controls.amount.errors?.['max']"
            >Maximum {{ VALIDATION_VALUES.interestRate.MAX | number : '1.0-2' }}!</mat-error
          >
        </mat-form-field>
        <mat-form-field *ngIf="addAssetForm.controls.interestPaymentMonth.enabled">
          <mat-label>Kamatfizetés hónapja</mat-label>
          <mat-select formControlName="interestPaymentMonth">
            <mat-option *ngFor="let month of MONTH_LIST; let i = index" [value]="i">{{ month }}</mat-option>
          </mat-select>
          <mat-error *ngIf="addAssetForm.controls.interestPaymentMonth.errors?.['required']"
            >Kamatfizetés hónapja kötelező!</mat-error
          >
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">OK</button>
        <button mat-raised-button (click)="resetAddNew()" type="button">Mégsem</button>
      </form>
    </div>
    <table mat-table [dataSource]="assetService.assets$">
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Összeg</th>
        <td mat-cell *matCellDef="let element">{{ element.amount | number : '1.0-2' }}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Megnevezés</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>
      <ng-container matColumnDef="assetType">
        <th mat-header-cell *matHeaderCellDef>Típus</th>
        <td mat-cell *matCellDef="let element">{{ element.assetType.type }}</td>
      </ng-container>
      <ng-container matColumnDef="maturityDate">
        <th mat-header-cell *matHeaderCellDef>Lejárat</th>
        <td mat-cell *matCellDef="let element">{{ element.maturityDate | date : 'shortDate' }}</td>
      </ng-container>
      <ng-container matColumnDef="interestRate">
        <th mat-header-cell *matHeaderCellDef>Kamat</th>
        <td mat-cell *matCellDef="let element">{{ element.interestRate }}</td>
      </ng-container>
      <ng-container matColumnDef="interestPaymentMonth">
        <th mat-header-cell *matHeaderCellDef>Kamatfizetés hónapja</th>
        <td mat-cell *matCellDef="let element">{{ MONTH_LIST[element.interestPaymentMonth] }}</td>
      </ng-container>
      <ng-container matColumnDef="sell">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <div class="flex justify-end">
            <button mat-raised-button color="primary" [disabled]="underEdit$ | async" (click)="showSellForm(element)">
              Eladás
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: columns"
        [ngClass]="(assetToSell$ | async)?.id === row.id ? '!bg-slate-300' : ''"
      ></tr>
    </table>
  </mat-card-content>
</mat-card>
